In [ ]:
# TASK 01: Write a program that takes two numbers (a = 15 , b = 4) and prints their

In [152]:
a = 15
b = 4

In [17]:
print(a+b)

19

In [19]:
print(a-b)

11

In [21]:
print(a*b)

60

In [23]:
print(a/b)

3.75

In [27]:
print(a//b)

3

In [29]:
print(a%b)

3

In [ ]:
# TASK 02: Convert the following

In [154]:
num1 = 10
num2 = 5.6
num3 = 4.43

In [46]:
num1 = float(num1)

In [52]:
print('Integer to float = ',num1)

Integer to float =  10.0

In [56]:
num2 = int(num2)
num3 = int(num3)

In [58]:
print("float to integer = ", num2 )
print("float to integer = ", num3)

float to integer =  5
float to integer =  4

In [60]:
num2 =str(num2)
num3 = str(num3)

In [62]:
print("float to string = ", num2 )
print("float to string = ", num3)

float to string =  5
float to string =  4

In [ ]:
# TASK 03 : Indexing in List

In [66]:
fruits = ["apple", "banana", "cherry", "coconut", "pineapple", "mango", "orange"]

In [68]:
print("first fruit is = ", fruits[0])

first fruit is =  apple

In [70]:
print("Last fruit is = ", fruits[-1])

Last fruit is =  orange

In [72]:
print("frouth fruit is = ", fruits[3])

frouth fruit is =  coconut

In [ ]:
# TASK 04 : Slicing by positive and negative  indexing

In [88]:
numbers = [10, 20, 30, 40, 50]

In [76]:
print("Frist three Element is ",numbers[0:4])

Frist three Element is  [10, 20, 30, 40]

In [78]:
print("Last two Element is ",numbers[-2:])

Last two Element is  [40, 50]

In [80]:
print("All Element except first one is ",numbers[1:])

All Element except first one is  [20, 30, 40, 50]

In [82]:
print("All Element except first last one is ",numbers[:-1])

All Element except first last one is  [10, 20, 30, 40]

In [96]:
numbers.reverse()

In [98]:
print("numbers into reverse is", numbers)

numbers into reverse is [50, 40, 30, 20, 10]

In [102]:
print("Every 2nd Element is = ", numbers[::-2])

Every 2nd Element is =  [10, 30, 50]

In [ ]:
# TASK 05: append method

In [104]:
num = [1,2,3]

In [106]:
num.append(10)

In [108]:
print(num)

[1, 2, 3, 10]

In [ ]:
# TASK 06 : Insert the number 99 at index 1 using method

In [110]:
num.insert(1,99)

In [112]:
print(num)

[1, 99, 2, 3, 10]

In [ ]:
# extend method for adding a list [4,5]

In [116]:
num.extend([4,5])

In [118]:
print(num)

[1, 99, 2, 3, 10, 4, 5]

In [ ]:
# TASK 08 : Sort the given list

In [120]:
nums = [4,1,3,2]

In [122]:
nums.sort()

In [124]:
print(nums)

[1, 2, 3, 4]

In [ ]:
# TASK 09 : Manage food Order (corrected list biryani was not added to the list)

In [126]:
order = ["burger", "fries", "coke"]

In [128]:
order.append("ice cream")

In [130]:
order.remove("burger")

In [132]:
print(order)

['fries', 'coke', 'ice cream']

In [ ]:
#TASK 10 : Bus Passengers Entries

In [136]:
passengers = ["Ali", "Zara", "Ahmed"]

In [138]:
passengers.insert(1,"Sara")

In [140]:
print(passengers)

['Ali', 'Sara', 'Zara', 'Ahmed']

In [144]:
passengers.remove("Zara")

In [146]:
print(passengers)

['Ali', 'Sara', 'Ahmed']

In [148]:
passengers.reverse()

In [150]:
print(passengers)

['Ahmed', 'Sara', 'Ali']